/* Site Style Sheet
    1. Global Styles
    2. Structure Styles
    3. Typography Styles
    4. Module Styles
    5. Component Styles

================================ */

/* 1. Global Styles 
================================ */
* {
    box-sizing: border-box;
}

:root {
    --text-small: 0.75rem;
    --text-normal: 1rem;
    --text-sub-heading: 1.5rem;
    --text-heading: 1.75rem;
    --text-subtitle: 2.5rem;
    --text-title: 3rem;
    --text-color: #0C4557;
    --dark-background: #333333;
    --header-background: #1DACD6;
    --blue-background: rgba(169, 214, 227, 0.5);
    --white: #FFFFFF;
    --footer-background: #8A6606;
    --light-text: #fff;
    --shadow-color: #0C4557;
    --b-c-blue: #1DACD6;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

html {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--white);
    color: var(--text-color);
    height: 100%;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-rendering: optimizeLegibility;
    -website-font-smoothing: antialiased;
}

/* 2. Structural Styles 
================================ */

/* Fixed Header & Navigation Style */
header {
    width: 100%;
    background-color: var(--header-background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px -3px 22px 1px var(--shadow-color);
}

header * {
    display: inline;
}

#header-title, .footer-title {
    color: var(--light-text);
}

#header-title {
    margin: 2rem 0 2rem 4rem;
}

/* Main & Section Styles */
main {
    background-color: var(--white);
    width: 100%;
    margin: 6.25rem 0;
}

section {
    margin: 0 auto;
}

.blue-background {
    background-color: var(--blue-background);
}

#locations {
    margin: 1rem 3rem;
}

/* Footer Styles */
footer {
    background-color: var(--footer-background);
    width: 100%;
    height: 25vh;
    text-align: center;
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-title {
    font-size: var(--text-sub-heading);
}

.footer-message {
    font-size: var(--text-small);
    margin-top: 10vh;
}

/* 3. Typography Styles 
================================ */
h1, h2, h3, h4 {
    color: var(--text-color);
    text-align: center;
}

h1 {
    font-size: var(--text-title);
    font-weight: 700;
    margin: 1.5rem 0;
}

h2 {
    font-size: var(--text-subtitle);
    font-weight: 700;
    margin: 1rem 0;
}

h3 {
    font-size: var(--text-heading);
    margin: 1rem 0;
    font-weight: 600;
}

h4 {
    font-size: var(--text-sub-heading);
    margin: 1rem 0;
    font-weight: 500;
}

p {
    font-size: var(--text-normal);
}

.accommodations-title, .accommodations-subtitle {
    text-align: center;
}

/* Text Styles */
.article-text {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}

.caption {
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
}

.pull-quote {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 500;
}

/* 4. Module Styles 
================================ */

/* Site Navigation */
nav ul {
    list-style: none;
    float: right;
    margin-right: 2rem;
}

nav ul li {
    display: inline;
}

.nav-item, .footer-nav-item {
    margin: 0 5vw;
}

.nav-item:hover {
    text-decoration: underline;
}

.footer-nav nav{
    float: none;
    font-weight: normal;
}

.footer-nav-item {
    font-weight: normal;
}


/* 5. Component Styles 
================================ */
/* Buttons */
.button {
    color: var(--b-c-blue);
    background-color: none;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px solid var(--b-c-blue);
}

a {
    color: var(--light-text);
    text-decoration: none;
    font-size: var(--text-normal);
    font-weight: bold;
}

a:hover {
    color: var(--light-text);
    background-color: var(--b-c-blue);
}

.info-image {
    width: 40vw;
}

/* Scrolling Basic Info */
.background-1 {
    background: rgb(214,199,9) no-repeat center center fixed;
    background: -moz-linear-gradient(0deg, rgba(214,199,9,1) 0%, rgba(19,214,153,0.75) 22%, rgba(29,172,214,1) 44%, rgba(168,214,227,1) 48%, rgba(255,255,255,0.75) 52%, rgba(29,172,214,1) 100%) no-repeat center center fixed;
    background: -webkit-linear-gradient(0deg, rgba(214,199,9,1) 0%, rgba(19,214,153,0.75) 22%, rgba(29,172,214,1) 44%, rgba(168,214,227,1) 48%, rgba(255,255,255,0.75) 52%, rgba(29,172,214,1) 100%) no-repeat center center fixed;
    background: linear-gradient(0deg, rgba(214,199,9,1) 0%, rgba(19,214,153,0.75) 22%, rgba(29,172,214,1) 44%, rgba(168,214,227,1) 48%, rgba(255,255,255,0.75) 52%, rgba(29,172,214,1) 100%) no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d6c709",endColorstr="#1dacd6",GradientType=1);
    height: 100vh;
    width: 100%;
}

.scroll-single {
    background: none;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll-side-by-side {
    background: none;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.scroll-single>.scroll-info-box {
    padding: 4rem 5rem;
}

.scroll-info-box {
    background-color: var(--white);
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2rem;
}


/* Decoration Line */
.decoration-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.decoration-line hr {
    width: 45vw;
    color: var(--b-c-blue);
    height: 2px;
    border: 1px solid var(--b-c-blue);
    border-radius: 1px;
}

.decoration-img {
    height: 5vh;
    margin: 3vw 3vh;
}

/* Location Info Styles */
.location-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.location-text {
    display: flex;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location-image {
    width: 40vw;
}

/* Accommodations Styles */

.lodgings-section, .getting-there-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.lodgings-map {
    max-width: 45vw;
}

.lodgings-info, .travel-info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lodgings-info-card, .travel-info-card, .getting-there-info-card {
    max-width: 40vw;
    background-color: var(--white);
    padding: 1.5rem;
    margin: 1.5rem 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

