/* RSVP Style Sheet
    1. Structure Styles
    2. Typography Styles
    3. Form Styles
    4. Component Styles

================================ */

/* 1. Structure Styles 
================================ */
* {
    box-sizing: border-box;
}

:root {
    --text-small: 0.75rem;
    --text-normal: 1rem;
    --text-sub-heading: 1.5rem;
    --text-heading: 1.75rem;
    --text-subtitle: 2.5rem;
    --text-title: 3rem;
    --text-color: #0C4557;
    --dark-background: #333333;
    --header-background: #1DACD6;
    --blue-background: rgba(169, 214, 227, 0.5);
    --white: #FFFFFF;
    --footer-background: #8A6606;
    --light-text: #fff;
    --shadow-color: rgba(12, 69, 87, 0.5);
    --b-c-blue: #1DACD6;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

html {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--white);
    color: var(--text-color);
    height: 100%;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-rendering: optimizeLegibility;
    -website-font-smoothing: antialiased;
}

@media screen and (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

/* 2. Structural Styles 
================================ */

/* Fixed Header & Navigation Style */
header {
    width: 100%;
    background-color: var(--header-background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px -3px 22px 1px var(--shadow-color);
}

header * {
    display: inline;
}

#header-title, .footer-title {
    color: var(--light-text);
    font-family: 'Rouge Script', cursive;
    font-weight: normal;
}

#header-title {
    margin: 2rem 0 2rem 4rem;
}

/* Main & Section Styles */
main {
    background-color: var(--white);
    margin: 6.25rem 0 0 0;
}

section {
    margin: 0 auto;
}

.blue-background {
    /* background-color: var(--blue-background); */
    background: rgb(188,231,253);
    background: -moz-linear-gradient(135deg, rgba(188,231,253,0.7455357142857143) 0%, rgba(29,172,214,0.7511379551820728) 50%, rgba(188,231,253,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(188,231,253,0.7455357142857143) 0%, rgba(29,172,214,0.7511379551820728) 50%, rgba(188,231,253,1) 100%);
    background: linear-gradient(135deg, rgba(188,231,253,0.7455357142857143) 0%, rgba(29,172,214,0.7511379551820728) 50%, rgba(188,231,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bce7fd",endColorstr="#bce7fd",GradientType=1);
    margin: 0;
    padding: 7rem 4rem 4rem 4rem; 
}

#locations {
    margin: 1rem 3rem 4rem 3rem;
}

#faq-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rsvp-main {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Accommodations Page Grid */
.accommodations-grid {
    display: grid;
    height: auto;
    grid-template-rows: repeat(24, 4rem);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem 2rem;
}

#accommodations-title {
    grid-area: 1 / 1 / 1 / span 4;
}

#lodgings-title {
    grid-area: 2/ 1 / 2 / span 4;
}

.lodgings-label {
    grid-area: 3 / 1 / 3 / span 4;
}

.lodgings-map-container {
    grid-area: 4 / 1 / 12 / span 2;
}

.lodgings-info {
    grid-area: 4 / 3 / 12 / span 2;
}

#travel-title {
    grid-area: 13 / 1 / span 1 / span 4;
}

.travel-info-card {
    grid-area: 14 / 2 / span 4 / span 2;
}

#getting-there-title {
    grid-area: 19 / 1 / span 1 / span 4;
}

#by-air {
    grid-area: 20 / 1 / span 4 / span 2;
}

#by-land {
    grid-area: 20 / 3 / span 4 / span 2;
}

@media screen and (max-width: 800px) {
    .accommodations-grid {
        padding: 7rem 4rem 4rem 4rem; 
        grid-template-rows: repeat(39, 4rem);
        grid-template-columns: 1fr;
        grid-gap: 1rem 2rem;
    }

    #accommodations-title {
        grid-area: 1 / 1 / 1 / span 1;
    }
    
    #lodgings-title {
        grid-area: 2/ 1 / 2 / span 1;
    }
    
    .lodgings-label {
        grid-area: 3 / 1 / 3 / span 1;
    }
    
    .lodgings-map-container {
        grid-area: 4 / 1 / 12 / span 1;
    }
    
    .lodgings-info {
        grid-area: 13 / 1 / 21 / span 1;
    }
    
    #travel-title {
        grid-area: 22 / 1 / span 1 / span 1;
    }
    
    .travel-info-card {
        grid-area: 23 / 1 / span 5 / span 1;
    }
    
    #getting-there-title {
        grid-area: 28 / 1 / span 1 / span 1;
    }
    
    #by-air {
        grid-area: 29 / 1 / span 5 / span 1;
    }
    
    #by-land {
        grid-area: 34 / 1 / span 4 / span 1;
    }

}

/* Footer Styles */
footer {
    background-color: var(--footer-background);
    width: 100%;
    height: 25vh;
    text-align: center;
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-title {
    font-size: var(--text-heading);
}

.footer-message {
    font-size: var(--text-small);
    margin-top: 10vh;
}

/* 3. Typography Styles 
================================ */
h1, h2, h3, h4 {
    color: var(--text-color);
    text-align: center;
}

h1 {
    font-size: var(--text-title);
    font-weight: 700;
    margin: 1.5rem 0;
}

h2 {
    font-size: var(--text-subtitle);
    font-weight: 700;
    margin: 1rem 0;
}

h3 {
    font-size: var(--text-heading);
    margin: 1rem 0;
    font-weight: 600;
}

h4 {
    font-size: var(--text-sub-heading);
    margin: 1rem 0;
    font-weight: 500;
}

p {
    font-size: var(--text-normal);
}

.accommodations-heading, .accommodations-subtitle {
    text-align: center;
}

/* Text Styles */
.article-text {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}

.caption {
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
}

.pull-quote {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 500;
}

/* 4. Module Styles 
================================ */

/* Site Navigation */
nav ul {
    list-style: none;
    float: right;
    margin-right: 2rem;
}

nav ul li {
    display: inline;
}

.nav-item, .footer-nav-item {
    margin: 0 5vw;
}

.nav-item:hover {
    text-decoration: underline;
}

.footer-nav nav{
    float: none;
    font-weight: normal;
}

.footer-nav-item {
    font-weight: normal;
}

.footer-nav-item:hover {
    font-weight: bold;

}

/* 5. Component Styles 
================================ */
/* Images */
img, .lodgings-map {
    max-width: 100%;
    max-height: 100%;
}

/* Buttons */
button, .button {
    color: var(--b-c-blue);
    background-color: var(--white);
    padding: 1rem;
    margin: 0.5rem;
    font-weight: bold;
    border: 5px solid var(--b-c-blue);
}

button:hover, .button:hover {
    color: var(--light-text);
    background-color: var(--b-c-blue);
}

a {
    color: var(--light-text);
    text-decoration: none;
    font-size: var(--text-normal);
    font-weight: bold;
}

.info-image {
    width: 40vw;
}

/* Scrolling Basic Info */
.background-1 {
    background: rgb(214,199,9) no-repeat center center fixed;
    background: -moz-linear-gradient(0deg, rgba(214,199,9,1) 0%, rgba(19,214,153,0.75) 22%, rgba(29,172,214,1) 44%, rgba(168,214,227,1) 48%, rgba(255,255,255,0.75) 52%, rgba(29,172,214,1) 100%) no-repeat center center fixed;
    background: -webkit-linear-gradient(0deg, rgba(214,199,9,1) 0%, rgba(19,214,153,0.75) 22%, rgba(29,172,214,1) 44%, rgba(168,214,227,1) 48%, rgba(255,255,255,0.75) 52%, rgba(29,172,214,1) 100%) no-repeat center center fixed;
    background: linear-gradient(0deg, rgba(214,199,9,1) 0%, rgba(19,214,153,0.75) 22%, rgba(29,172,214,1) 44%, rgba(168,214,227,1) 48%, rgba(255,255,255,0.75) 52%, rgba(29,172,214,1) 100%) no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d6c709",endColorstr="#1dacd6",GradientType=1);
    height: 100vh;
    width: 100%;
}

.scroll-single {
    background: none;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll-side-by-side {
    background: none;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.scroll-single>.scroll-info-box {
    padding: 5rem 8rem;
}

.scroll-basic-info {
    margin: 3rem;
}

@media screen and (max-width: 800px) {
    .scroll-side-by-side {
        flex-direction: column-reverse;
    }
    
    .scroll-single>.scroll-info-box {
        padding: 3rem;
    }
    .scroll-basic-info {
        margin: 1.5rem;
    }
}

.scroll-more-box {
    color: var(--white);
    background: none;
    text-align: center;
}

.scroll-info-box {
    background-color: var(--white);
    padding: 2rem;
    box-shadow: 0px 5px 15px var(--shadow-color);
    margin: 2rem;
}


/* Decoration Line */
.decoration-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.decoration-line hr {
    width: 45vw;
    color: var(--b-c-blue);
    height: 2px;
    border: 1px solid var(--b-c-blue);
    border-radius: 1px;
}

.decoration-img {
    height: 5vh;
    margin: 3vw 3vh;
}

/* Glassmorphism */

.glassmorph {
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Location Info Styles */
.location-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.location-text {
    display: flex;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location-image {
    width: 40vw;
}

@media screen and (max-width: 800px) {
    .location-info {
        flex-direction: column;
        justify-content: center;
    }
}

/* Accommodations Styles */

.lodgings-map-container {
    max-width: 100%;
}

.lodgings-info {
    height: 100%;
}

.lodgings-info, .lodgings-info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lodgings-info-card, .travel-info-card, .getting-there-info-card {
    width: 100%;
    /* background-color: var(--white); */
    box-shadow: 0px 5px 15px var(--shadow-color);
}

.travel-info-card {
    padding: 3rem;
}

@media screen and (max-width: 800px) {
    .travel-info-card {
        padding: 2rem;
    }
}

.getting-there-info-card {
    padding: 3rem;
    margin: 1.5rem 0;
}

.lodgings-info-card {
    margin: 1.5rem 0;
    padding: 1.5rem;
}

.lodgings-label {
    margin: 2rem;
    text-align: center;
}

.lodgings-map {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 5px 15px var(--shadow-color);
}

/* Booking Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: var(--white);
    margin: 15% auto;
    padding: 1.5rem;
    border: 2px solid var(--b-c-blue);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .modal-content {
        margin: 35% auto;
    }
}

/* FAQ Styles */
#faq-title, #rsvp-title {
    margin: 2rem 0 0 0;
}
.question-container {
    display: flex;
    width: 75%;
    background-color: var(--white);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    box-shadow: 0px 5px 15px var(--shadow-color);
    margin: 4rem;
}

.question {
    font-size: var(--text-heading);
    text-decoration: none;
}

.answer {
    font-size: var(--text-normal);
}

.faq-link {
    color: var(--text-color);
}

@media screen and (max-width: 800px) {
    .question-container {
        padding: 1rem;
        margin: 2rem 1rem;
    }
}

/* RSVP Styles */
.rsvp-info-card {
    /* background-color: var(--white); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0px 5px 15px var(--shadow-color);
    margin: 2rem;
    padding: 5rem 8rem;
}

@media screen and (max-width: 800px) {
    .rsvp-info-card {
        padding: 3rem;
    }
}

/* Hotel Block Pop-up Styles */
.hotel-message-content {
    background-color: var(--white);
    margin: 15% auto;
    padding: 1.5rem;
    border: 2px solid var(--b-c-blue);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .hotel-message-content {
        width: 80%;
        margin: 35% auto;
    }
}

.hotel-message-content button {
    display: block;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: transparent;
    font-size: var(--text-subtitle);
    color: var(--footer-background);
    border: none;
    outline: none;
    cursor: pointer;
    text-align: right;
    padding: .5rem;
    
}

.hotel-message-content h2 {
    font-size: var(--text-heading);
    color: var(--b-c-blue);
    text-align: center;
}

.hotel-message-content p {
    font-size: var(--text-normal);
    color: var(--text-color);
    text-align: center;
}